:root {
  --background: #2c2c32;
  --terminal: #25252b;
  --header: #4a4a4a;
  --text: #f5f3f1;
  --title: #119cb6;
  --command: #32c47d;
  --error: #c42e2e;
  --date: #e9d84f;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--background);
  color: var(--text);
  font-family: "Space Mono", monospace;
  font-size: 14;
  height: 100vh;
}

main {
  height: 550px;
  width: 550px;
  max-width: 550px;
  margin-bottom: 50px;
}

.terminal {
  background-color: var(--terminal);
  color: var(--text);
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: scroll;
  height: 100%;
}

.terminal::-webkit-scrollbar {
  width: 8px;
  height: 100%;
  cursor: pointer;
}

.terminal::-webkit-scrollbar-thumb {
  background-color: var(--header);
  border-radius: 50px;
}

.terminal div {
  margin-top: 5px;
}

.header {
  padding: 0 20px;
  height: 25px;
  margin: 0;
  background-color: var(--header);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.prompt {
  display: grid;
  grid-template-columns: auto auto 1fr;
  column-gap: 7px;
}

input {
  background-color: var(--terminal);
  color: var(--text);
  font-size: 14px;
  font-family: "Space Mono", monospace;
  border: none;
}

input:focus {
  outline: none;
}

.prompt:focus #promptInput:focus {
  background: transparent;
}

.sectionTitle {
  color: var(--title);
}

.title {
  color: var(--text);
  font-weight: 600;
}

.pointer {
  color: var(--title);
}

.date {
  color: var(--date);
}

.error {
  color: var(--error);
}

.command {
  color: var(--command);
  font-size: 16px;
}

.indent {
  margin-left: 5px;
  font-size: 14px;
}

a {
  color: var(--text);
}

.hidden {
  display: none;
}

@media (max-width: 750px) {
  main {
    width: 100%;
  }
}
